* {
    margin: 0;
    padding: 0;
}

body {
    color: #2E2E2E;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-size: 0;
}

.header {
    max-width: 960px;
    display: flex;
    padding: 17px 0;
    justify-content: space-between;
    align-items: center;
}

.header-logo-image {
    padding: 3px 0 7px 10px;
}

.header-menu-list {
    display: flex;
    flex-wrap: wrap;     
    list-style-type: none;
}

.header-menu-item {
    text-transform: uppercase;
    font: 400 12px/20px "Oxygen", sans-serif;
    letter-spacing: 0.6px;
    text-align: left;    
}

.header-menu-link {
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    color: #2E2E2E;

}

.main-title-block {
    padding: 89px 0 113px 0;
    max-width: 960px;
    text-align: center;
}

.main-title-block-h1 {          
    padding-bottom: 20px;
    font: 400 50px/51px "Lora", sans-serif;
    letter-spacing: 2px;    
}

.main-title-block-h2 {
    color: #2E2E2EA1;          
    font: 400 17px/20px "Oxygen", sans-serif;      
}

.image-block-picture {    
    width: 100%;
    radius: 3px;
}

.content {
    margin-inline: auto;
    background-color: #F7F7F7;    
}

.text {
    padding: 140px 0 135px;
}

.text p {
    margin-bottom: 20px;
}

.text p:last-child {
    margin-bottom: 0;
}

.text {
    margin-inline: auto;
    max-width: 960px;
    color: #101315;
    margin-inline: auto;
    font: 400 24px/35px "Oxygen", sans-serif;
    letter-spacing: 0em;
    text-align: left;
}

.footer {
    margin-inline: auto;
    max-width: 1440px;
    background-image: url(../images/footer.png);
}

.footer-background {
    background-color: #232F3899
}

.footer-link {
    display: flex;
    margin-inline: auto;
    max-width: 960px;
    justify-content: space-between;
    align-items: center;
}

.footer-logo-image {
    padding: 3px 0 5px 10px;
    color: #ffffff;
    font: 400 26px/26px "Lora", sans-serif;
    text-align: left;
    text-decoration: none;
}

.footer-menu-link {
    text-decoration: none;
    font-weight: bold;
    color: rgb(255 255 255 / 0.6);
    font: 400 11px/26px "Oxygen", sans-serif;
    letter-spacing: 1px;
    text-align: right;
    padding: 10px 20px;
}

.footer-menu-list {
    display: flex;
    flex-wrap: wrap;    
    list-style-type: none;    
    padding: 31px 10px 32px;
}

.footer-menu-item {
    text-transform: uppercase;
    font: 400 12px/20px "Oxygen", sans-serif;
    letter-spacing: 0.6px;
    text-align: left;
}
