* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #2E2E2E;
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

/*HEADER*/
.header {
    margin: 0 auto;
    background: url("/static/images/header-background.jpg") no-repeat center / cover;
}

.header-nav {
    display: flex;
    padding: 17px 10px;
    justify-content: space-between;
    align-items: center;
}

.header-nav__logo {
    text-decoration: none;
    color: #fff;
    padding: 3px 0 11px 10px;
    font: 400 26px/26px "Lora", sans-serif;
}

.header-nav__menu-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.header-nav__menu-link {
    text-transform: uppercase;
    font: 400 12px/20px "Oxygen", sans-serif;
    color: #ffffff;
    letter-spacing: 0.6px;
    padding: 10px 20px;
    text-decoration: none;
}

.banner {
    color: #ffffff;
    margin: 0 auto;
    padding: 103px 0 157px 0;
}

.banner__title {
    padding-bottom: 20px;
    font: 400 50px/51px "Lora", sans-serif;
    letter-spacing: 2px;
    text-align: center;
}

.banner__subtitle {
    color: rgba(255, 255, 255, 0.63);
    font: 400 17px/20px "Oxygen", sans-serif;
    text-align: center;
    padding-bottom: 31px;
}

.banner__link {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.banner__link-text {
    padding: 12px 31px;
    border-radius: 3px;
    background-color: #dd783f;
    font: 400 13px/20px "Oxygen", sans-serif;
    text-decoration: none;
    color: #ffffff;
}

/* NAVIGATION BLOCK MENU */
.navigation {
    background-color: #ffffff;
}

.navigation-block {
    padding: 9px 10px 10px;
}


.navigation-block__menu-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 13px 0 13px;
}

.navigation-block__menu-item {}

.navigation-block__menu-link {
    color: #768088;
    text-decoration: none;
    padding: 13px 45px;
    font: 400 14px/20px "Lora", sans-serif;
    text-align: center;
}

/* MAIN BLOCK */
.main-block {
    background-color: #f7f7f7;
}

/* FEATURE POST */
.featured-block {   
    padding: 60px 10px 0;
}

.posts-title {
    text-align: center;
    max-width: 188px;    
    font: 400 20px/27px "Oxygen", sans-serif;
    letter-spacing: 2px;
    padding-bottom: 17px;
    margin: 0 auto 23px;
    position: relative;
}

.posts-title::after {
    content: "";
    display: block;
    height: 1px;
    background-color: #dedede;
    position: absolute;    
    width: 100%;
    bottom: 0;    
}

.featured-block__content {    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;        
    gap: 20px;
}

.card {  
    text-decoration: none;      
    width: 460px;
    min-height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: grey; 
    border-radius: 3px;
    position: relative;         
}

.card__image {
    object-fit: cover;
    position: absolute; 
    z-index: 0;   
    width: 100%;
    height: 100%;   
}

.card__sticker {
    padding: 6px 9px 7px 9px;
    position: absolute;
    top: 20px;
    left: 20px;
    text-transform: uppercase;
    background-color: #dd783F;
    font: 400 12px/13px "Oxygen", sans-serif;
    color: #ffffff;
    border-radius: 2px;
}
.card__title { 
    z-index: 1;   
    padding: 10px 0 6px 20px;
    color: #ffffff;
    font: 400 27px/30px "Lora", sans-serif;
}

.card__subtitle {  
    z-index: 1; 
    padding: 0 0 12px 20px;
    color: rgba(255, 255, 255, 0.7);
    font: 400 14px/25px "Oxygen", sans-serif;
}

.card__info {
    z-index: 1; 
    display: flex;
    justify-content: space-between;
    padding: 0 20px 15px;
    align-items: center;
}

.card__author-photo {
    width: 26px;
    height: 26px;
    border-radius: 60px;
}

.card__author-name {
    flex-grow: 1;
    padding-left: 10px;
    color: rgba(255, 255, 255, 0.7);
    font: 400 12px/35px "Oxygen", sans-serif;
}

.card__date {
    display: flex;
    color: rgba(255, 255, 255, 0.7);
    font: 400 12px/35px "Oxygen", sans-serif;
}

/* MOST-RECENT */
.most-recent {
    padding: 67px 10px 108px;
}

.most-recent__content {
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
}

.recent-card {
    text-decoration: none;      
    display: flex;
    background: #fcfcfc;
    max-width: 296px;
    display: flex;
    flex-direction: column;
}


.recent-card__image {
    max-width: 100%;
}

.recent-card__title {
    padding: 14px 0 6px 13px;
    font: 400 16px/21px "Lora", sans-serif;
    color: #101315;
}

.recent-card__subtitle {
    flex-grow: 1;
    padding: 0 13px 12px;   
    font: 400 13px/19px "Oxygen", sans-serif;    
    color: #7a7a7a;
;
}

.recent-card__info {
    border-top: 1px solid #efefef;
    display: flex;    
    align-items: center;
    padding: 7px 13px 6px;    
}

.recent-card__author-photo {
    width: 26px;
    height: 26px;
    border-radius: 60px;
}

.recent-card__author-name {
    flex-grow: 1;
    padding-left: 10px;
    font: 400 11px/35px "Oxygen", sans-serif;
    color: #999999;
}

.recent-card__date {
    color: #999999;
    font: 400 12px/35px "Oxygen", sans-serif;
}

/* FOOTER */
.footer {
    margin: 0 auto;
    background-image: url(/static/images/footer.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.footer__background {
    background-color: rgba(35, 47, 56, 0.6);
}

.footer__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo-image {
    padding: 3px 0 5px 10px;
    color: #ffffff;
    font: 400 26px/26px "Lora", sans-serif;
    text-align: left;
    text-decoration: none;
}

.footer__menu-link {
    text-transform: uppercase;
    text-decoration: none;    
    color: rgba(255, 255, 255, 0.6);
    font: 400 12px/26px "Oxygen", sans-serif;
    letter-spacing: 0.6px;
    padding: 10px 10px;
}

.footer__menu-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 31px 10px 32px;
}